version: '3'

networks:
    internal:
        driver: bridge
        ipam:
            driver: default
            config:
                # -   subnet: ${NETWORK_SUBNET}
                -   subnet: 10.104.0.17/16

services:
    nodejs:
        build:
            context: ./
            dockerfile: ./docker/node/Dockerfile
        volumes:
            - ./frontend:/var/www/node
            - ./frontend/node_modules:/var/www/node/node_modules
        ports:
            - "3001:3000"
        # depends_on:
        #     - php8
        networks:
            - internal

    db:
        networks:
            - internal
        image: ${DATABASE_IMAGE}
        volumes:
            - ./docker/mysql/mysql-data:/var/lib/mysql
            - ./docker/mysql/mysql-files:/var/lib/mysql-files
            - ./docker/mysql/dumps:/docker-entrypoint-initdb.d
            - ./docker/mysql/config/my.cnf:/etc/mysql/my.cnf
            - ./lastDump.sql:/lastDump.sql
            - ./configMysql.cnf:/configMysql.cnf
        ports:
            - ${DATABASE_PORT}:3306
        environment:
            MYSQL_DATABASE: ${DATABASE_NAME}
            MYSQL_USER: ${DATABASE_USER}
            MYSQL_PASSWORD: ${DATABASE_PASS}
            MYSQL_ROOT_PASSWORD: ${DATABASE_PASS}

    nginx:
        networks:
            - internal
        image: ${NGINX_IMAGE}
        depends_on:
            - php8
            - db
        volumes:
            - ./app:/var/www
            - ./docker/nginx/config/conf.d/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/nginx/config/nginx.conf:/etc/nginx/nginx.conf
            - ./docker/log/nginx:/var/log/nginx
        ports:
            - ${NGINX_PORT}:80

    php8:
        networks:
            - internal
        build:
            context: ./docker/php8
            args:
                image: ${PHP_IMAGE}
                tz: ${TZ}
        depends_on:
            - db
            - rabbitmq
        volumes:
            - ./app:/var/www
            - ./docker/php8/config/php/php.ini:/usr/local/etc/php/php.ini
            - ./docker/php8/config/exim4/update-exim4.conf.conf:/etc/exim4/update-exim4.conf.conf
            - ./docker/php8/config/mailname:/etc/mailname
        expose:
            - 9000
        working_dir: /var/www
        user: www-data
        env_file:
            - .env

    rabbitmq:
        networks:
            - internal
        image: ${RABBITMQ_IMAGE}
        ports:
            - ${RABBITMQ_PORT}:15672
        expose:
            - 5672
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
            RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST}

    send_no_reply_worker:
        networks:
            - internal
        build:
            context: ./docker/php8
            args:
                image: ${PHP_IMAGE}
                tz: ${TZ}
        command: php /var/www/bin/console rabbitmq:consumer -m 100 parse
        depends_on:
            - db
            - rabbitmq
        volumes:
            - ./app:/var/www
            - ./docker/php8/config/php/php.ini:/usr/local/etc/php/php.ini
            - ./docker/php8/config/exim4/update-exim4.conf.conf:/etc/exim4/update-exim4.conf.conf
            - ./docker/php8/config/mailname:/etc/mailname
        expose:
            - 9000
        working_dir: /var/www
        user: www-data
        env_file:
            - .env
